#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.version-text {
  font-family: SevilleSharp;
  font-size: 20;
  font-weight: bold;
  text-anchor: start;
  text-length: 4;
  x: 8%;
  y: 8%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.battery-text {
  font-family: SevilleSharp;
  font-size: 20;
  font-weight: bold;
  text-anchor: end;
  text-length: 4;
  x: 92%;
  y: 8%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.clock-text {
  font-family: Colfax-Bold;
  font-size: 102;
  text-anchor: middle;
  text-length: 5;
  x: 50%;
  y: 58%;
  width: 100%;
  height: 100%;
  fill: #FA1E43;
}

.weather-temp {
  font-family: SevilleSharp;
  font-size: 54;
  font-weight: bold;
  text-anchor: start;
  text-length: 20;
  x: 8%;
  y: 25%;
  width: 32%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-text1 {
  font-family: SevilleSharp;
  font-size: 26;
  font-weight: bold;
  text-anchor: end;
  text-length: 20;
  text-decoration: underline;
  x: 92%;
  y: 18%;
  width: 60%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-text2 {
  font-family: SevilleSharp;
  font-size: 26;
  font-weight: bold;
  text-anchor: end;
  text-length: 20;
  x: 92%;
  y: 26%;
  width: 60%;
  height: 100%;
  fill: #FFFFFF;
}

.date-text {
  font-family: SevilleSharp;
  font-size: 36;
  font-weight: bold;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 76%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.divider {
  x: 50%-130;
  width: 260;
  height: 2;
  fill: #646464;
}

.divider-one {
  y: 10%
}

.divider-two {
  y: 28%
}

.divider-three {
  y: 64%;
}

.divider-four {
  y: 80%;
}

.stats {
  x: 8%;
  y: 79%;
  width: 92%;
  height: 48;
}

.stats text {
  font-family: SevilleSharp;
  font-size: 36;
  font-weight: bold;
  text-length: 18;
  fill: #FFFFFF;
}

#iconHRM {
  width: 36;
  height: 36;
  y: 25%;
  x: 0%;
  fill: #FF214A;
}

.stat-left {
  x: 15%;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end
}

#stats-cycle {
  x: 32%;
  y: 0;
  width: 60%;
  height: 100%;
}

.cycle-item image {
  x: 45%;
  y: 15;
  fill: #FFFFFF;
  width: 24;
  height: 24;
}