#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.version-text {
  font-family: Seville-Bold-Condensed;
  font-size: 24;
  text-anchor: start;
  text-length: 4;
  x: 8%;
  y: 9%;
  width: 100%;
  height: 100%;
  fill: #646464;
}

.battery-text {
  font-family: Seville-Bold-Condensed;
  font-size: 24;
  text-anchor: middle;
  text-length: 5;
  x: 50%;
  y: 9%;
  width: 100%;
  height: 100%;
  fill: #646464;
}

.weathertime-text {
  font-family: Seville-Bold-Condensed;
  font-size: 24;
  text-anchor: end;
  text-length: 6;
  x: 92%;
  y: 9%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.clock-text {
  font-family: Fabrikat-Black;
  font-size: 116;
  text-anchor: middle;
  text-length: 5;
  x: 50%;
  y: 60%;
  width: 100%;
  height: 100%;
  fill: #FA1E43;
}
  
.weather-temp {
  font-family: Seville-Bold-Condensed;
  font-size: 70;
  text-anchor: start;
  text-length: 6;
  x: 18;
  y: 82;
  width: 40%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-degree {
  font-family: Seville-Bold-Condensed;
  font-size: 70;
  text-anchor: start;
  text-length: 2;
  x: 29%;
  y: 82;
  width: 10%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-unit {
  font-family: Seville-Bold-Condensed;
  font-size: 32;
  text-anchor: start;
  text-length: 2;
  x: 29%;
  y: 82;
  width: 10%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-text1 {
  font-family: Seville-Bold-Condensed;
  font-size: 32;
  text-anchor: end;
  text-length: 30;
  x: 93%;
  y: 56;
  width: 56%;
  height: 100%;
  fill: #FFFFFF;
}

.weather-text2 {
  font-family: Seville-Condensed;
  font-size: 32;
  text-anchor: end;
  text-length: 40;
  x: 93%;
  y: 82;
  width: 56%;
  height: 100%;
  fill: #FFFFFF;
}

.date-text {
  font-family: Seville-Bold-Condensed;
  font-size: 45;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 77%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.divider {
  x: 50%-130;
  width: 260;
  height: 2;
  fill: #646464;
}

.divider-one {
  y: 10%
}

.divider-two {
  y: 28%
}

.divider-three {
  y: 64%;
}

.divider-four {
  y: 80%;
}

.stats {
  x: 8%;
  y: 79%;
  width: 92%;
  height: 48;
}

.stats text {
  font-family: Seville-Bold-Condensed;
  font-size: 36;
  text-length: 18;
  fill: #FFFFFF;
}

#iconHRM {
  width: 38;
  height: 38;
  y: 21%;
  x: 0%;
  fill: #FA1E43;
}

.stat-left {
  x: 15%;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end
}

#stats-cycle {
  x: 32%;
  y: 0;
  width: 60%;
  height: 100%;
}

.cycle-item image {
  x: 45%;
  y: 15;
  fill: #FFFFFF;
  width: 24;
  height: 24;
}